*{
    background: #03223f;
    color: #fff;
    text-align: center;
}

.App {
  text-align: center;
  
}

.start{
  background: #000;
}
.pause{
  margin-right: 10px;
  background: #000
}
.restart{
  background: #000
  
}


